.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .navbar-brand {
      font-weight: bold;
      color: #3498db;
    }
  
    .ml-auto {
      display: flex;
      align-items: center;
      .img-wrapper{
        height: 50px;
        width: 50px;
        margin-right: 0.5rem;
        
      }
      span {
        margin-right: 10px;
      }
    }
  }