<!-- 
<div class="app-container" [class.sidebar-open]="isSidebarOpen">
  <app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>
  <div class="main-content">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <router-outlet></router-outlet>
  </div>
</div> -->
<div class="app-container" [class.sidebar-open]="isSidebarOpen">
  <app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>
  <div class="content-wrapper">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>