
    <div class="form-container">
      <h2>Reset Password</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <div class="password-input-group">
            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="password" formControlName="password">
            <span class="password-toggle">
              <i [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="passwordVisible = !passwordVisible"></i>
            </span>
          </div>
          <div *ngIf="resetForm.get('password')!.invalid && resetForm.get('password')!.touched" class="text-danger">
            Password must be at least 8 characters long.
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <div class="password-input-group">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <span class="password-toggle">
              <i [ngClass]="confirmPasswordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
            </span>
          </div>
          <div *ngIf="resetForm.get('confirmPassword')!.hasError('passwordMismatch')" class="text-danger">
            Passwords do not match.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid || isLoading">
          {{ isLoading ? 'Resetting...' : 'Reset Password' }}
        </button>
      </form>
    </div>
