<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 image-container">
            <div class="background-image"></div>
            <img src="../../../assets/Images/login.png" alt="Overlay" class="overlay-image">
      </div>
      <div class="col-md-6 form-container">
        <h2>Reset Password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div *ngIf="resetForm.get('email')!.invalid && resetForm.get('email')!.touched" class="text-danger">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="resetForm.get('password')!.invalid && resetForm.get('password')!.touched" class="text-danger">
              Password must be at least 8 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="resetForm.get('confirmPassword')!.hasError('passwordMismatch')" class="text-danger">
              Passwords do not match.
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Reset Password</button>
        </form>
      </div>
    </div>
  </div>