.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .card-body {
      padding: 1.5rem;
      display: flex;
    }
    .card-info{
        margin-left: 30px;
        .card-title {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
      
        .card-text {
          font-size: 2rem;
          font-weight: bold;
        }
    }
  }

  table {
    th {
      font-weight: 600;
      background-color: #f8f9fa;
    }
  
    td {
      vertical-align: middle;
    }
  }
  
  .btn-outline {
    padding: 0.25rem 0.5rem;
  }
  
  ngb-pagination {
    margin-top: 1rem;
  }
  