.container-fluid,
.row {
  height: 100vh;
}

.illustration-column {
  // background-color: #3498db;
  background-image: url("../../../assets/Images/Group.png");
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  width: 80%;
  max-width: 400px;
}

.logo {
  // font-size: 24px;
  // font-weight: bold;
  margin-bottom: 40px;
}

.sign-in-header {
  font-size: 20px;
  margin-bottom: 20px;
}


.password-input-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.forgot-password-link {
  color: #3498db;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.Email-Sent-Wrapper {
  margin: 10px 0px;
}

.card-wrapper {
  border-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  width: 50%;
}

.email-text {
  color: rgb(94, 94, 94);
}