<!-- <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          <i class="bi {{ item.icon }}"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div> -->
<!-- sidebar.component.html -->
<div class="sidebar" [class.closed]="!isOpen">
  <h2 class="logo">Integrity Solution</h2>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="icon-dashboard"></i> <span>Dashboard</span></a></li>
      <li>
        <a href="#" (click)="toggleManageUser()" [class.active]="isManageUserOpen"><i class="icon-manage-user"></i> <span>Manage User</span></a>
        <ul class="submenu" *ngIf="isManageUserOpen">
          <li><a routerLink="/add-user" routerLinkActive="active">Add User</a></li>
          <!-- Add other submenu items as needed -->
        </ul>
      </li>
    </ul>
  </nav>
</div>